# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug/
/Archive/
/A.csv
/Archive.bat
/club.dat
/common_names.dat
/Conversions.txt
/first_names.dat
/grab.php
/index.dat
/second_names.dat
/staff.dat
/Tasks.xlsx
